@font-face {
    font-family: 'Inter V5';
    src: url('../../fonts/medium.woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Inter V5';
    src: url('../../fonts/regular.woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter V5';
    src: url('../../fonts/semi-bold.woff2');
    font-weight: 600;
  }

body{
    margin: 0;
    padding: 0;
    background: #161616;
    font-family: 'Inter V5';
}