.quick-action-content{
    padding: .5rem;
    text-align: left;

    &-title{
        font-size: 9px;
        font-weight: 400;
        margin-left: .25rem;
        color: #a0a0a0;
    }

    &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-keys{
        display: flex;
        align-items: center;
        gap: 5px;

        &-item{
            align-items: center;
            background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,.12) 100%),#282828;
            border-radius: 4px;
            display: flex;
            height: 15px;
            justify-content: center;
            position: relative;
            width: 15px;

            svg{
                opacity: .24;
            }
        }
    }
}