.quick-action-list {
    &-separator{
        font-size: 9px;
        font-weight: 400;
        margin-left: .25rem;
        color: #a0a0a0;
        margin-top: 1rem;

        &:first-child{
            margin-top: 0;
        }
}

    &-item {
        padding: 0.5rem 0.5rem;
        border-radius: 8px;
        transition: 0.3s background ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover, &-focused {
            background: #282828;
        }

        &-title {
            font-size: 12px;
            font-weight: 500;
        }

        &-role{
            font-size: 9px;
            text-transform: capitalize;
            color: #a0a0a0;
        }
    }
}
