.quick-action-list {
    &-separator{
        font-size: 10px;
        font-weight: 400;
        padding: 5px;
        color: #a0a0a0;

        &:first-child{
            padding-top: 0;
        }
}

    &-item {
        padding: 0.4rem 0.5rem;
        border-radius: 8px;
        transition: 0.3s background ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover, &-focused {
            background: #282828;
        }

        &-left{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-icon{
            display: flex;
            align-items: center;

            img{
                height: 17px;
                width: 17px;
            }
        }
        &-title {
            font-size: 12px;
            font-weight: 500;
        }

        &-role{
            font-size: 9px;
            text-transform: capitalize;
            color: #a0a0a0;
        }
    }
}
