.quick-action-list {
    
    &-separator{
        font-size: 10px;
        font-weight: 400;
        padding: 5px;
        color: #a0a0a0;

        &-line{
            height: 1px;
            width: calc(100% + 1rem);
            left: -.5rem;
            position: relative;
            margin: .5rem 0;
            background: #a0a0a019;
            padding: 0;
        }

        &:first-child{
            padding-top: 0;
        }
}

    &-item {
        padding: 0.4rem 0.5rem;
        border-radius: 8px;
        transition: 0.3s background ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover, &-focused {
            background: #282828;
        }

        &-left{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-icon{
            display: flex;
            align-items: center;

            img{
                height: 17px;
                width: 17px;
            }
        }
        &-title {
            font-size: 12px;
            font-weight: 500;
        }

        &-role{
            font-size: 9px;
            color: #a0a0a0;
        }
    }
}


.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(0, 30px);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}